## Python Challenge: Simple Blockchain Transaction Tracker

### Objectives:
- You are given some basic transaction details from a blockchain explorer
- You need to store them in variables, perform calculations, and print the results in a clean format

### Your Task:

1. Create variables for the following data (choose the right data types):

   - `block_number` → 1856734
   - `transaction_hash` → `"0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2"`
   - `from_address` → `"0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0"`
   - `to_address` → `"0xF1E2D3C4B5A697887766554433221100FFEEDDCC"`
   - `amount_eth` → 0.845 (in ETH)
   - `eth_to_usd_rate` → 3200.50

2. Calculate:

   - The USD value of the transaction using `amount_eth` and `eth_to_usd_rate`.
   - Store the result in a variable called `amount_usd`.

3. Print out: The transaction details in a nicely formatted way like this:

   ```
   Transaction on Block 1856734
   Hash: 0x9e1f8...
   From: 0xA1B2...
   To:   0xF1E2...
   Amount: 0.845 ETH ($2704.42 USD)
   ```

Extra challenge (optional):

- Format the USD value so it always shows two decimal places.
- Show only the first 8 characters of the hash and addresses followed by `"..."` for readability.

If you solve this, it will test:

- Variables
- Data types (int, float, string)
- String formatting
- Basic arithmetic operations

1. Variables, passing different types of variables , using the f-string and input function, and creating different data types

In [41]:
# Converting it to different variable types

block_number = int(1856734)
transaction_hash = str('0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2')
from_address = str('0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0')
to_address = str('0xF1E2D3C4B5A697887766554433221100FFEEDDCC')
amount_eth = float(0.845)
eth_to_usd_rate = float(50)

In [42]:
# What type of variable it is

print(type(block_number))
print(type(transaction_hash))
print(type(from_address))
print(type(to_address))
print(type(amount_eth))
print(type(eth_to_usd_rate))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>

In [43]:
print(f'{amount_eth} in ETH is equivalent to {eth_to_usd_rate} in USD.')

0.845 in ETH is equivalent to 50.0 in USD.

In [44]:
# Trying out the input function to get user input

amount_eth = input('Enter the amount in ETH, you want to convert to USD')
print('I want to convert this amount of ETH', amount_eth )

I want to convert this amount of ETH 0.05

In [45]:
# Trying out the input function to get user input along side the f-string

amount_eth = float(input('Enter the amount in ETH, you want to convert to USD'))
print(f'I want to convert this amount of {amount_eth} to USD')

I want to convert this amount of 0.02 to USD

In [46]:
# List example

block_explorer = [block_number, transaction_hash, from_address, to_address, amount_eth, eth_to_usd_rate]
print(block_explorer)

[1856734, '0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2', '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0', '0xF1E2D3C4B5A697887766554433221100FFEEDDCC', 0.02, 50.0]

In [47]:
print(type(block_explorer))

<class 'list'>

In [48]:
# Tuple example

tuple_block_explorer = (block_number, transaction_hash, from_address, to_address, amount_eth, eth_to_usd_rate)
print(set_block_explorer)

{'0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2', '0xF1E2D3C4B5A697887766554433221100FFEEDDCC', 50.0, 0.02, '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0', 1856734}

In [49]:
print(type(tuple_block_explorer))

<class 'tuple'>

In [50]:
# Dictionary example and also code block

dict_block_explorer = {
    'block_number': '1856734',
    'transaction_hash': '0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2',
    'from_address': '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0',
    'to_address': '0xF1E2D3C4B5A697887766554433221100FFEEDDCC',
    'amount_eth': '0.845',
    'eth_to_usd_rate': '50'
}

print(dict_block_explorer)

{'block_number': '1856734', 'transaction_hash': '0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2', 'from_address': '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0', 'to_address': '0xF1E2D3C4B5A697887766554433221100FFEEDDCC', 'amount_eth': '0.845', 'eth_to_usd_rate': '50'}

In [51]:
print(type(dict_block_explorer))

<class 'dict'>

In [52]:
# Set data type example and also code block

set_block_explorer = {block_number, transaction_hash, from_address, to_address, amount_eth, eth_to_usd_rate}

print(set_block_explorer)

{'0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2', '0xF1E2D3C4B5A697887766554433221100FFEEDDCC', 50.0, 0.02, '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0', 1856734}

In [53]:
print(type(set_block_explorer))

<class 'set'>

2. Calculate:

   - The USD value of the transaction using `amount_eth` and `eth_to_usd_rate`.
   - Store the result in a variable called `amount_usd`.

In [57]:
# Variables
block_number = 1856734
transaction_hash = '0x9e1f8c2d5a4b7e6a0f91b8a3d1e0c4b2a6f7d5c4b3a2e1f0c9d8e7f6a5b4c3d2'
from_address = '0xA1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0'
to_address = '0xF1E2D3C4B5A697887766554433221100FFEEDDCC'
amount_eth = 0.845
eth_to_usd_rate = 3200  # No comma, just a plain integer

# Calculate USD value
amount_usd = amount_eth * eth_to_usd_rate

print(f'The transaction of {amount_eth}ETH is equivalent to ${amount_usd} USD at a rate of ${eth_to_usd_rate} USD per ETH')

The transaction of 0.845ETH is equivalent to $2704.0 USD at a rate of $3200 USD per ETH

3. Print out: The transaction details in a nicely formatted way:

- Format the USD value so it always shows two decimal places.
- Show only the first 8 characters of the hash and addresses followed by `"..."` for readability.

In [ ]:
# Format hash and addresses for readability (first 8 chars + ...)
short_hash = transaction_hash[:8] + '...'
short_from = from_address[:8] + '...'
short_to = to_address[:8] + '...'

print(f'Transaction on Block {block_number}')
print(f'Hash: {short_hash}')
print(f'From: {short_from}')
print(f'To:   {short_to}')
print(f'Amount: {amount_eth}ETH (${amount_usd:,.2f} USD)')

SyntaxError: invalid decimal literal (3379638428.py, line 10)